{% extends "layout/base.twig" %}

{% block content %}
    <section class="row">
        <section class="content column small-12 medium-6 medium-offset-3">
            <h1><img src="/images/kotta-logo.png" class="margin: 0 auto"/></h1>

            <p>
                Kotta is your first stop when searching for music sheet generated from MIDI files. Here you can upload a
                MIDI files that matches your interests and download a music sheet that we have extracted for you.
            </p>

            <p>
                Downloading your sheet music is a simple process of providing the MIDI file for which you want sheet music,
                select which track you want to export and then <em>Download</em> a PDF file with your sheet music.
            </p>
            <h2>Provide a MIDI File</h2>
            {% include 'includes.responseMsg' %}

            <ul class="tabs" data-tab role="tablist">
                <li class="tab-title active" role="presentational" ><a href="#panel-search" role="tab" tabindex="0" aria-selected="true" controls="panel-search">Search</a></li>
                <li class="tab-title" role="presentational" ><a href="#panel-upload" role="tab" tabindex="0" aria-selected="false" controls="panel-upload">Upload</a></li>
            </ul>
            <div class="tabs-content">
                <section role="tabpanel" aria-hidden="false" class="content active" id="panel-search">
                    {{ Form.open() }}
                        <div class="row collapse">
                            <div class="small-10 columns">
                                {{ Form.text('search', null, {'placeholder': 'Please enter a search term', 'style': 'margin-top: 0', 'id': 'search'}) }}
                            </div>
                            <div class="small-2 columns">
                                <a href="#" class="button postfix">Search</a>
                            </div>
                        </div>

                        <table class="searchresults">
                            <tr><th>Name</th></tr>
                        </table>

                    {{ Form.close() }}
                </section>

                <section role="tabpanel" aria-hidden="false" class="content" id="panel-upload">
                    {{ Form.open({'files': true}) }}
                        {{ Form.file('midi_file') }}

                        {{ Form.submit('Upload Midi File', {'class': 'button expand'}) }}
                    {{ Form.close() }}
                </section>
            </div>
        </section>
    </section>
{% endblock %}

{% block javascript %}
    <script>
        var midiFiles = {{ midiFiles | raw}};
        var searchLimit = 15;
        $('#search').keyup(function() {
            var searchResults = [];
            var searchValue = $(this).val().toLowerCase();
            $('.searchResultItem').remove();
            if (searchValue)
            {
                var html = '';
                $.each(midiFiles, function(index, midiFile) {
                    if (midiFile.name.toLowerCase().search(searchValue) != -1)
                    {
                        searchResults[searchResults.length] = midiFile;
                    }
                });

                $.each(searchResults, function(index, midiFile) {
                    html += '<tr class="searchResultItem"><td><a href="{{ route('tracks') }}/' + midiFile.id + '">' + midiFile.name + ' <span class="right">&blacktriangleright;</span></a></td></tr>';
                    if (index >= searchLimit)
                    {
                        return false;
                    }
                });
                var resultsCount = searchResults.length;
                if (resultsCount >= searchLimit)
                {
                    resultsCount = searchLimit;
                }

                html += '<tr class="searchResultItem right"><td>Showing ' + resultsCount + ' of ' + searchResults.length + ' results</td></tr>';
                $('.searchresults').append(html);
            }
        });
    </script>
{% endblock %}