{% extends "layout/base.twig" %}

{% block content %}
    <h2>Provide a MIDI File</h2>
    {% include 'includes.responseMsg' %}

    <ul class="tabs provide-midi" data-options="deep_linking:true" data-tab role="tablist">
        <li class="tab-title active" role="presentational"><a href="#search" role="tab" tabindex="0" aria-selected="true" controls="search">Search</a></li>
        <li class="tab-title" role="presentational" ><a href="#upload" role="tab" tabindex="0" aria-selected="false" controls="upload">Upload</a></li>
        <li class="tab-title" role="presentational" ><a href="#history" role="tab" tabindex="0" aria-selected="false" controls="history">History</a></li>
    </ul>
    <div class="tabs-content">
        <section role="tabpanel" aria-hidden="false" class="content active" id="search">
            {{ Form.open() }}
                <div class="row collapse">
                    <div class="small-10 columns">
                        {{ Form.text('search', null, {'placeholder': 'Please enter a search term', 'style': 'margin-top: 0', 'id': 'searchInput'}) }}
                    </div>
                    <div class="small-2 columns">
                        <a href="#" class="button postfix">Search</a>
                    </div>
                </div>

                <table class="searchResults">
                    <tr class="searchResultItem"><td class='center'>No results</td></tr>
                </table>

            {{ Form.close() }}
        </section>

        <section role="tabpanel" aria-hidden="false" class="content" id="upload">
            {{ Form.open({'files': true}) }}
                {{ Form.file('midi_file') }}

                {{ Form.submit('Upload Midi File', {'class': 'button expand'}) }}
            {{ Form.close() }}
        </section>

        <section role="tabpanel" aria-hidden="false" class="content" id="history">
            {% if Auth.check() %}
                {% if conversions is empty %}
                    You have no history, lets get converting!
                {% else %}
                    <table class="historyresults">
                        <tr><th>Name</th></tr>
                        {% for conversion in conversions %}
                            <tr><td><a href="{{ route('musicSheets', [conversion.file, conversion.track]) }}"><span class="right">&blacktriangleright;</span>{{ conversion.fileName }} - {{ conversion.trackName }}<small>Date: {{ conversion.created_at |date("d/m/Y H:i") }}</small></a></td></tr>
                        {% endfor %}
                    </table>
                {% endif %}
            {% else %}
                <p class="text-center">This feature is only available if you are signed in.</p>
                <p class="text-center"><a href="{{ (fakeFacebook) ? '/login/fb/callback' : 'login/fb' }}" class=" facebook-signin"><img src="/images/facebook-signin.png"/></a></p>
            {% endif %}
        </section>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        var midiFiles = {{ midiFiles | raw}};
        var searchLimit = 15;
        $('#searchInput').keyup(function() {
            var searchResults = [];
            var searchValue = $(this).val().toLowerCase();
            $('.searchResultItem').remove();
            if (searchValue)
            {
                var html = '<tr class="searchResultItem"><th>Name</th></tr>';

                $.each(midiFiles, function(index, midiFile) {
                    if (midiFile.name.toLowerCase().search(searchValue) != -1)
                    {
                        searchResults[searchResults.length] = midiFile;
                    }
                });

                $.each(searchResults, function(index, midiFile) {
                    html += '<tr class="searchResultItem"><td><a href="{{ route('tracks') }}/' + midiFile.id + '">' + midiFile.name + ' <span class="right">&blacktriangleright;</span></a></td></tr>';
                    if (index >= searchLimit)
                    {
                        return false;
                    }
                });
                var resultsCount = searchResults.length;
                if (resultsCount >= searchLimit)
                {
                    resultsCount = searchLimit;
                }

                html += '<tr class="searchResultItem right"><td>Showing ' + resultsCount + ' of ' + searchResults.length + ' results</td></tr>';
                $('.searchresults').append(html);
            }
            else
            {
                $('.searchresults').append('<tr class="searchResultItem"><td class='center'>No results</td></tr>');
            }
        });
    </script>
{% endblock %}