{% extends "layout/base.twig" %}

{% block content %}
    {% if fileName is not empty %}
        <h2>Provide a MIDI File</h2>
    {% endif %}
    {% include 'includes.responseMsg' %}
    {{ Form.open({'route': ['postTracks', fileTmpName]}) }}
        {% if fileName is not empty %}
            <section class="midi-info">
                {{ fileName }}
                <a href="{{ route('index') }}" class="right">&cross;</a>
            </section>
        {% endif %}
        <h2 id="select-track">Select your Track</h2>
        {{ Form.select('track', tracks) }}
        {{ Form.text('title', '', {'placeholder': 'Overwrite track name here'}) }}

        {{ Form.submit('Show music sheet', {'class': 'button expand success'}) }}
    {{ Form.close() }}
{% endblock %}